@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>chek my linkedin profile <a href="https://www.linkedin.com/in/rogelio-guillermo-pacheco-elorza-6997285b/"> to connect or work on something</a>.</p>
</div>
